@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* * ASTERISCO* = todas as tags */
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: flex-start;
    width: 100%;
    /* * VH = Viewport Height - Altura da visualização NAVEGADOR */
    /* *  Min-height = altura minima = maximo não diminui */
    min-height: 100vh;
    background: linear-gradient(135deg,rgb(211, 20, 20),rgb(58, 4, 209));
    padding: 10px;
}

.task-app{
    /* * Width = 100% o pai */
    /* ^ max-width = limita ele a 540px ao maximo */
    width: 100%;
    max-width: 540px;
    background-color: white;
    /* Forma resumida 3: - Seguindo sentido horario
    100px = top
    auto = right
    20px = bottom
    auto = left (copiou ou right) */
    margin: 100px auto 20px;
    border-radius: 10px;
    padding: 40px 30px 70px;
}

.task-app h2{
    color: rgb(2, 2, 2);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.task-app img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border-radius: 30px;
    padding-left: 30px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
}

input::placeholder{
    color: rgb(28, 24, 29);
    opacity: 0.7;
}

button{
    border: none;
    outline: none;
    padding: 20px 50px;
    background-color: rgb(253, 0, 127);
    color: rgb(247, 247, 247);
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/* * 02/10/24 */

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url('../img/desmarcado.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transition: all 0.4s;
}
/* * O item da lista MARCADA */
ul li.checked{
    color: brown;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('../img/marcado.png');
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: blanchedalmond;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: aliceblue;
}